* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
h1 {
  margin-bottom: 20px;
}
h3 {
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}
.container {
  padding: 0 30px;
  max-width: 1408px;
  margin: 0 auto;
}
.fb {
  display: flex;
}
.sb {
  justify-content: space-between;
}
.iac {
  align-items: center;
}
.header {
  padding: 10px 0;
  margin-bottom: 10px;
}
.news-list {
  &__item {
    box-shadow: 1px 1px 5px #0000003b;
    padding: 5px;
    margin-bottom: 10px;
    &:hover {
      background: #eee;
    }
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__pagination-area {
    margin-top: 10px;
  }
}
